.user-profile-image {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
  

.p-datatable table {
    table-layout: auto;
}

.username {
    /* height: 18px; */
    width: 140px;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0 5px 0 5px;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    font-size: small;
}

.comment {
    width: 500px;
    padding: 0;
    /* overflow: hidden; */
    word-wrap: break-word;
    position: relative;
    display: inline-block;
    margin: 0 5px 0 5px;
    text-align: left;
    text-decoration: none;
    /* text-overflow: ellipsis; */
    white-space: initial;
    color: #000;
}