<p-table #dt1 [value]="tableDataSource" [lazy]="true" dataKey="id" [rows]="rows" [showCurrentPageReport]="true"
	[rowsPerPageOptions]="rowsPerPageOption" [loading]="false" (onLazyLoad)="onLazyLoad($event)" styleClass="p-datatable-customers p-datatable-gridlines"
	[paginator]="true" [totalRecords]="totalRecords" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
	[globalFilterFields]="['name','country.name','representative.name','status']" paginatorPosition="bottom">
	<ng-template pTemplate="header">
		<tr>
			<th [ngStyle]="{'width': '100px'}">
				<div class="p-d-flex p-jc-between p-ai-center">
					Username
					<!-- <p-columnFilter type="text" field="name" display="menu"></p-columnFilter> -->
				</div>
			</th>
			<th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Comment
					<!-- <p-columnFilter type="text" field="data.comment" display="menu"></p-columnFilter> -->
				</div>
			</th>
			<th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Sentiment
					<p-columnFilter field="Sentiment" display="menu" [showMatchModes]="false"
						[showOperator]="false" [showAddButton]="false">
						<ng-template pTemplate="filter" let-value let-filter="filterCallback">
							<p-multiSelect [ngModel]="value" [options]="SENTIMENTS" placeholder="Any"
								(onChange)="filter($event.value)" optionLabel="name">
								<ng-template let-option pTemplate="item">
									<div class="p-multiselect-representative-option">
										<span class="p-ml-1">{{option}}</span>
									</div>
								</ng-template>
							</p-multiSelect>
						</ng-template>
					</p-columnFilter>
				</div>
			</th>
			<th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Published On
					<!-- <p-columnFilter type="date" field="date" display="menu"></p-columnFilter> -->
				</div>
			</th>
			<th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Intent
					<p-columnFilter field="Intent" matchMode="in" display="menu" [showMatchModes]="false"
						[showOperator]="false" [showAddButton]="false">
						<ng-template pTemplate="filter" let-value let-filter="filterCallback">
							<p-multiSelect [ngModel]="value" [options]="['Command', 'Fragment', 'Question', 'Statement']" placeholder="Any"
								(onChange)="filter($event.value)" optionLabel="name">
								<ng-template let-option pTemplate="item">
									<div class="p-multiselect-representative-option">
										<span class="p-ml-1">{{option}}</span>
									</div>
								</ng-template>
							</p-multiSelect>
						</ng-template>
					</p-columnFilter>
				</div>
			</th>
			<th>
				<div class="p-d-flex p-jc-between p-ai-center">
					Offensive
					<p-columnFilter field="Offensive" matchMode="in" display="menu" [showMatchModes]="false"
						[showOperator]="false" [showAddButton]="false">
						<ng-template pTemplate="filter" let-value let-filter="filterCallback">
							<p-multiSelect [ngModel]="value" [options]="['Offensive', 'Not_Offensive']" placeholder="Any"
								(onChange)="filter($event.value)" optionLabel="name">
								<ng-template let-option pTemplate="item">
									<div class="p-multiselect-representative-option">
										<span class="p-ml-1">{{option}}</span>
									</div>
								</ng-template>
							</p-multiSelect>
						</ng-template>
					</p-columnFilter>
				</div>
			</th>

		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-data>
		<tr>
			<td [ngStyle]="{'width': '100px'}">
				<span  class="username">
					<img src="{{ data.authorProfileImageUrl }}" (error) ="onImgError($event)" class="user-profile-image"/>
					{{data.authorDisplayName}}
				</span>
				
			</td>
			<td [ngStyle]="{'width': '500px'}">
				<span class="comment">{{data.comment}}</span>
			</td>
			<td>
				<span class="image-text" [ngStyle]="(data.Sentiment == 'Negative' && {'color': 'red'}) || (data.Sentiment == 'Positive' && {'color': 'green'})">{{data.Sentiment}}</span>
			</td>
			<td>
				{{data.publishedAt | date: 'MM/dd/yyyy:HH:MM'}}
			</td>
			<td>
				<span [ngStyle]="data.Intent == 'Question' && {'color': 'blue'}">
					{{data.Intent}}
				</span>
			</td>
			<td>
				<span [ngStyle]="data.Offensive == 'Offensive' && {'color': 'red'}">{{data.Offensive}}</span>
			</td>
		</tr>
	</ng-template>
</p-table>
