<button mat-raised-button (click)="addColumn()">Add column</button>
<button mat-raised-button (click)="removeColumn()">Remove column</button>
<button mat-raised-button (click)="shuffle()">Shuffle</button>

<div class="table-container">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8"
  >
    <ng-container [matColumnDef]="columns.username">
      <th mat-header-cell *matHeaderCellDef class="mat-column-username">
        {{ columns.username }}
      </th>
      <td mat-cell *matCellDef="let element">
        <img
          src="{{ element.authorProfileImageUrl }}"
          class="user-profile-image"
        />
        {{ element["authorDisplayName"] }}
      </td>
    </ng-container>

    <ng-container [matColumnDef]="columns.comment" class="mat-column-comment">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by comments"
      >
        {{ columns.comment }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element["comments"] }}
      </td>
    </ng-container>

    <ng-container [matColumnDef]="columns.intent">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by intent"
      >
        {{ columns.intent }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element["Intent"] }}</td>
    </ng-container>

    <ng-container [matColumnDef]="columns.sentiment">
      <th mat-header-cell *matHeaderCellDef>{{ columns.sentiment }}</th>
      <td mat-cell *matCellDef="let element">{{ element["Sentiment"] }}</td>
    </ng-container>

    <ng-container [matColumnDef]="columns.offensive">
      <th mat-header-cell *matHeaderCellDef>{{ columns.offensive }}</th>
      <td mat-cell *matCellDef="let element">{{ element["Offensive"] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of comments"
    class="mat-paginator-sticky"
  >
  </mat-paginator>
</div>
