.grid-container {
  margin: 0px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  height: 100%;
  margin-top: -3%;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.performanceStats {
  display: flex;
  flex-direction: row;
  position: absolute;
  padding-left: 5%;
  padding-right: 5%;
}

.performanceStats > div {
  background-color: #f1f1f1;
  margin: 6%;
  margin-top: 15%;
  padding: 10%;
  font-size: 40px;
  padding-left: 15%;
  padding-right: 15%
}

ul {
  list-style-type: square;
  text-align: left;
  margin-bottom: 25px;
  font-size: medium;
}
li {
  padding: 3px;
}

h3 {
  font-style: italic;
}
