<div class="wrap">
    
    <form #urlForm="ngForm" class="search" (ngSubmit)="submitVideo(urlForm)">
        <input type="text" 
        required 
        name="videoUrl" 
        pattern="(?:https?:\/\/)?(?:www\.)?youtu\.?be(?:\.com)?\/?.*(?:watch|embed)?(?:.*v=|v\/|\/)([\w\-_]+)\&?" 
        class="searchTerm" 
        placeholder="Input Youtube video URL and hit Search!" 
        ngModel>
        <button type="submit" class="searchButton">
            <fa-icon [icon]="faSearch" class="fa fa-search"></fa-icon>
        </button>
    </form>
    <div style="font-style: italic;">
        <span *ngIf="showError">Invalid youtube video URL!</span>
        <span *ngIf="showSpinner">AI is working on your analysis....getting your reports...</span>
    </div>

    <mat-card *ngFor="let videoDetail of userVideos" class="video-details-card">
        <mat-card-content class="video-card-content">
          <div class="image-container">
            <img mat-card-image src="https://img.youtube.com/vi/{{ videoDetail.videoId }}/mqdefault.jpg">
          </div>
          <div class="title-container">
            <mat-card-title class="text-oneline">{{ videoDetail.title }}</mat-card-title>
            <mat-card-actions>
                <button mat-button matTooltip="Dashboard" (click)="dashboardClick(videoDetail)"><fa-icon [icon]="faChartLine" style="font-size:2em; color: #034875;"></fa-icon></button>
                <button mat-button matTooltip="Filters"><fa-icon [icon]="faTable" style="font-size:2em; color: #673ab7;"></fa-icon></button>
                <button mat-button matTooltip="AI Summary"><fa-icon [icon]="faLightbulb" style="font-size:2em; color: #f8b809;"></fa-icon></button>
                <button mat-button matTooltip="Download"><fa-icon [icon]="faDownload" style="font-size:2em; color: #141418;"></fa-icon></button>
            </mat-card-actions>
          </div>
        </mat-card-content>

      </mat-card>
      
</div>
