<div class="wrap">
    
    <form #urlForm="ngForm" class="search" (ngSubmit)="submitVideo(urlForm)">
        <input type="text" 
        required 
        name="videoUrl" 
        pattern="^((?:https?:)?\/\/)?((?:www|m)\.)?((?:youtube(-nocookie)?\.com|youtu.be))(\/(?:[\w\-]+\?v=|embed\/|live\/|v\/)?)([\w\-]+)(\S+)?$" 
        class="searchTerm" 
        placeholder="Input Youtube video URL and hit Search!" 
        ngModel>
        <button type="submit" class="searchButton">
            <fa-icon [icon]="faSearch" class="fa fa-search"></fa-icon>
        </button>
    </form>
    <div style="font-style: italic;">
        <span *ngIf="showError">Invalid youtube video URL!</span>
        <span *ngIf="showSpinner">AI is working on your analysis....getting your reports...</span>
    </div>

    <mat-card *ngFor="let videoDetail of userVideos" class="video-details-card">
        <mat-card-content class="video-card-content">
          <div class="image-container">
            <img mat-card-image src="https://img.youtube.com/vi/{{ videoDetail.videoId }}/mqdefault.jpg">
          </div>
          <div class="title-container">
            <mat-card-title class="text-oneline" [matTooltip]="videoDetail.title || ''">{{ videoDetail.title || "" }}</mat-card-title>
            <mat-card-actions>
                <button mat-button matTooltip="Dashboard" (click)="dashboardClick(videoDetail)" *ngIf="videoDetail.video_data_status"><fa-icon [icon]="faChartLine" class="details-btn"></fa-icon></button>
                <button mat-button matTooltip="Filters" (click)="commentsClick(videoDetail)"  *ngIf="videoDetail.video_data_status"><fa-icon [icon]="faTable" class="filter-btn"></fa-icon></button>
                <button mat-button matTooltip="AI Summary" (click)="summaryClick(videoDetail)" *ngIf="videoDetail.summary_status"><fa-icon [icon]="faLightbulb" class="summary-btn"></fa-icon></button>
                <span *ngIf="!videoDetail.summary_status" class="video-spinner"><fa-icon [icon]="faSpinner" [spin]="true"></fa-icon> Processing </span>
                <!-- <button mat-button matTooltip="Download"><fa-icon [icon]="faDownload" style="font-size:2em; color: #141418;"></fa-icon></button> -->
            </mat-card-actions>
          </div>
        </mat-card-content>

      </mat-card>
      
</div>
