<div class="grid-container">
  <div class="card-container" *ngFor="let card of cards">
    <mat-card class="dashboard-card" [class.expanded]="card.expanded" [style.background-color]="card.color">
      <mat-card-header>
        <mat-card-title class="card-title">{{ card.title }}</mat-card-title>
        <button mat-icon-button (click)="toggleCard(card)">
          <mat-icon class="toggle-icon">{{ card.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <ol class="list">
          <li *ngFor="let item of cardItems[card.title]">{{ item }}</li>
        </ol>
      </mat-card-content>
    </mat-card>
  </div>
</div>
