/* top-navbar.component.scss */

.fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.mat-toolbar-row {
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  max-height: 80px; /* Adjust the max height as needed */
  max-width: 100%; /* Ensure the logo stays within its container */
  margin-right: 0px; /* Add margin to separate the logo from site name */
}

.spacer {
  flex: 1;
  text-align: right;
}
