<mat-toolbar color="primary" (click)="isExpanded = !isExpanded">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <a href="/home" style="color: white;">Mediatics AI</a>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/item-dashboard">Dashboard</a>
      <a mat-list-item href="/item-table">Filters</a>
      <a mat-list-item href="/item-summary">Summary</a>
      <a mat-list-item href="/home">Search</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
